/* Modulo de documentos */

.documento .btn-nuevo {
    padding: 10px 30px;
    margin-bottom: 20px;
}

.documento h1 {
    margin-top: 20px;
    font-weight: bold;
}

.contenedor-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pdf {
    color: red;
    font-size: 40px;
}

.contenedor-pdf p {
    margin-top: 10px;
}

/* validacion */
.validacion {
    display: flex;
    justify-content: space-between;
}

.validacion-descripcion {
    font-weight: bold;
}
